.info {
  width: 16%;
  position: absolute;
  top: 34.5%;
  left: 42%;
}

.food {
  &__info {
    margin: 0 auto;
    max-width: 250px;

    &__image {
      max-width: 80px;
      border: 1px solid lightgray;
    }
  }
}

.circle {
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  // background: red;
  border-radius: 50%
}
