.info {
  width: 16%;
  position: absolute;
  top: 34.5%;
  left: 42%;
}

.food {
  &__info {
    margin: 0 auto;
    max-width: 250px;

    // &__waterAndCalories {
    //   display: flex;
    //   margin-bottom: .5rem;

    //   li:first-child {
    //     margin-right: 1rem;
    //   }
    // }

    &__image {
      max-width: 80px;
      border: 1px solid lightgray;
    }

  //   &__graphic {
  //     position: relative;
  //   }

  //   &__water {
  //     &__img {
  //       max-width: 40px;
  //     }
  //     &__percentage {
  //       top: 60% !important;
  //     }
  //     &__legend {
  //       text-align: center;
  //     }
  //   }

  //   &__calories {
  //     &__img {
  //       max-width: 50px;
  //     }
  //     &__percentage {
  //       top: 70% !important;
  //       left: 51% !important;
  //     }
  //     &__legend {
  //       text-align: center;
  //     }
  //   }
  }
}
