$darkModeText: white;
$darkModeFill: black;
$darkModeInnerCircle: black;

.FoodInfo {
  font-family: "Oswald", sans-serif;
  & > * {
    position: absolute;
    text-align: center;
    width: 25%;
    font-size: calc(min(4vw, 2.5rem));
  }

  &.single > * {
    font-size: calc(min(6vw, 2.5rem));
  }

  &__image {
    width: 35%;
    left: 32.5%;
    top: 33.5%;
    clip-path: circle(42% at 50% 50%);
  }

  &__medal {
    width: 84%;
    top: 8%;
    left: 8%;
  }

  &__calories {
    top: 28%;
    left: 21%;
  }

  &__water {
    top: 28%;
    left: 54.5%;
  }

  &__water__percentage {
    font-size: 0.7rem;
  }

  &__serving {
    top: 62%;
    left: 21%;
  }

  &__wikipedia {
    top: 61%;
    left: 55%;

    &__img {
      width: calc(min(5.5vw, 3.4rem));

      &.single {
        width: calc(min(8vw, 3.4rem));
      }
    }
  }

  #inner_circle {
    fill: white;
  }

  &.dark {
    color: $darkModeText;

    .cls-1,
    .cls-2,
    .cls-3,
    .cls-4 {
      fill: $darkModeText;
    }
    .cls-1 {
      fill: $darkModeFill;
    }

    .cls-3 {
      stroke: $darkModeText;
    }

    #inner_circle {
      fill: $darkModeInnerCircle;
    }

    .FoodInfo__wikipedia {
      filter: invert(1);
    }
  }
}
