@import "../utils.scss";

.modal {
  &__header {
    & .close {
      font-size: 3rem;
    }
  }

  &__cancel {
    @extend %button;
  }
}

.sudoku {
  &__dialog {
    &__game-over {
      &__header {
        display: flex;
        align-items: center;
        &__icon {
          margin-right: .5rem;
          & > svg {
            width: 2rem;
            height: 100%;
          }
        }
      }
    }
  }
}
