@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import "../sudoku/sass-vars.scss";

.tetris {
  height: 100%; overflow: hidden;
  font-family: 'Luckiest Guy', cursive;

  .statsContainer {
    display: flex;
    justify-content: space-between;
    max-width: 16rem+ ($gutter * 2);
    margin: 0 auto;
    margin-top: 16px;

    dl {
      width: 100%;

      &:first-child {
        margin-right: 8px;
      }
    }

    dt {
      border-bottom: solid 1px black;
    }

    dd {
      font-size: 70px;
      margin: 10px 0 -10px 0;
    }
  }

  .levelProgress {
    mix-blend-mode: lighten;
    height: 60px;
    width: 100%;
    position: absolute;
    top: -5px;

    div {
      background-color: pink;
    }
  }
}