@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.tetris {

  font-family: 'Luckiest Guy', cursive;


  .levelProgress {
    mix-blend-mode: lighten;
    height: 150px;
    width: 400px;

    div {
      background-color: pink;
    }
  }
}