.st0 {
  fill: transparent;
  stroke: #000000;
  stroke-width: 10;
  stroke-miterlimit: 10;
}

.coin {
  &__value {
    font-size: 6rem;
    font-family: monospace;
  }

  &__bottom {
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 600;
  }

  &__top {
    font-family: monospace;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: bold;
  }
}
