.st0 {
  fill: #ffffff;
  stroke: #000000;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.st1 {
  stroke: #000000;
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.st2 {
  font-family: "MyriadPro-Regular";
}
.st3 {
  font-size: 119.2737px;
}

.topText {
  font-weight: bold;
  font-size: 2rem;
}
