.back {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
}

.hide {
  display: none;
}

@media only screen and (hover: none) and (pointer: coarse) {

  .back {
    display: none;
  }

}