.sudoku__cell__candidates {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
  list-style: none;
  font-size: 0.7rem;
  font-weight: 600;
  padding: 3px;
  grid-column-gap: 3px;

  &__candidate {
    padding: 3px;
    color: var(--completed);
    font-weight: bold;
    width: .8rem;
  }

  @media screen and (max-width: 500px) {
    & {
      font-size: 0.3rem;
    }
  
    &__candidate {
      padding: 2px;
      width: .375rem;
    }
  }
}
