.sudoku__cell__candidates {
  display: grid;
  grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
  list-style: none;
  font-size: 0.5rem;
  padding: 0;
  margin-top: 3px;
}

.sudoku__cell__candidates--selected {
  margin-top: 0;
}

.sudoku__cell__candidates__candidate {
  padding: 3px;
  color: var(--completed);
  font-weight: bold;
}
