@import "../../src/sudoku/sass-vars.scss";

$border: var(--boardGridWidth) solid var(--boardGridArea);

.grid {
  display: grid;
  grid: repeat(10, auto) / repeat(10, auto);
  max-width: 20rem+ ($gutter * 2);
  margin: 0 auto;
  padding: var(--board-padding);

  & > div {
    border-top: $border;
    border-left: $border;
    text-align: center;
  }

  // /* outer bottom black line row */
  & > div:nth-last-child(-n + 10) {
    border-bottom: $border;
  }

  /* outer right black line column */
  & > div:nth-child(10n) {
    border-right: $border;
  }
}

.cell {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 4 / 4;
}
