@import '../animations.scss';

.grid__item {
  position: relative;
  width: 100%;
}
.grid__item:before {
  content: "";
  height: 0;
  display: inline-block;
  padding-top: 100%;
  width: 1px;
  position: relative;
}
.grid__item .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: grid;
  align-items: center;
}

.grid__item .content-inside {
  margin: 0 auto;
  perspective: 2000px;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.completed {
  color: var(--completed);
}

.incorrect {
  color: var(--warning);
  @extend %shake;
}

.sudoku__cell--conflicting {
  color: var(--warning);
}

.sudoku__cell--same-as-selected {
  color: var(--ok);
}

.sudoku__cell--related {
  background-color: antiquewhite;
}

.sudoku__cell--selected {
  background-color: #d6bd9c;
}



.cell {
  &__game-over {
    &__rotate-forwards {
      @extend %rotate-forwards;
    }
    
    &__fall-from-bottom {
      @extend %fall-from-bottom;
    }
    
    &__rotate-out {
      @extend %rotate-out;
    }
  }
}
