/* 
  @TODO: these are replicated in custom properties
  due to sass not being able to extrapolate the values for
  media queries.
  Need to find a way to use there inside sass and
  remove the duplication
*/
$boardSize: 32rem;
$gutter: 3rem;
$menuItem: 2.5rem;
