@import "./animations.scss";
@import "./sass-vars.scss";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Poiret One";
  src: URL("../font/PoiretOne-Regular.ttf") format("truetype");
  // font-display: optional;
}

body.sudoku {
  font-family: "Poiret One", cursive;
  background: var(--background);
  color: var(--text-color);
  transition: background 300ms ease-in-out, color 200ms ease;
}

body.sudoku {
  font-weight: 600;
  transition: color 300ms ease-in-out;
}

button,
.btn-primary {
  font-weight: 600;

  figcaption {
    transition: color 300ms ease-in-out;
  }
}

.game--paused .content-inside {
  visibility: hidden;
}

.gameLevel__options {
  text-transform: lowercase;
}

.gameLevel__options::first-letter {
  text-transform: capitalize;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;

  &__small {
    width: 1.5rem;
    height: 1.5rem;
  }

  &__smaller {
    width: 1rem;
    height: 1rem;
  }
}

.sudoku {
  &__container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: $boardSize + ($gutter * 2);
    margin-top: 1rem;
  }

  &__game {
    margin-left: $gutter;
    margin-right: $gutter;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--over {
      @extend %shake;
    }

    &__board {
      width: 100%;
    }

    &__footer {
      max-width: $boardSize + ($gutter * 2);
      margin: 0 var(--board-padding);
      padding: 0 var(--board-padding);
      width: 100%;
    }
  }

  &__nav {
    &__right,
    &__left {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 0.5rem;
    }

    &__right {
      margin-right: 0.5rem;
      right: 0;
    }

    &__left {
      margin-left: 0.5rem;
      left: 0;
    }
  }

  @media screen and (max-width: $boardSize + $gutter) {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 1 auto;
    }
    &__nav {
      &__right,
      &__left {
        position: relative;
        flex-direction: row;
        margin: 0 auto;
        flex: 1 1 auto;
      }
    }

    &__game {
      margin: 0 auto;
      width: 100%;
    }
  }
}
