@import './animations.scss';

/*  @TODO: these are replicated in sass,
    need to find a way to use there inside sass and
    remove the duplication
*/
$boardSize: 32rem;
$gutter: 3rem;
$menuItem: 2.5rem;

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poiret One';
  src: URL('../font/PoiretOne-Regular.ttf') format('truetype');
  font-display: optional;
}

body {
  font-family: 'Poiret One', cursive;
  background: var(--background);
  color: var(--text-color);
  transition: background 300ms ease-in-out, color 200ms ease;
}

.grid {
  display: grid;
  grid: repeat(9, auto) / repeat(9, auto);
  max-width: $boardSize + ($gutter * 2);
  margin: 0 auto;
  padding: var(--board-padding);
}

.grid > div {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

/* outer bottom black line row */
.grid > div:nth-last-child(-n+9) {
  border-bottom: 1px solid black;
}

/* outer top black line row */
.grid > div:nth-child(-n+9) {
  border-top: 1px solid black;
}

/* 1st inner row */
.grid > div:nth-child(n+19):nth-child(-n+27) {
  border-bottom: 1px solid black;
}

/* 1cnd inner row */
.grid > div:nth-child(n+46):nth-child(-n+54) {
  border-bottom: 1px solid black;
}

/* two inner columns */
.grid > div:nth-child(3n) {
  border-right: 1px solid black;
}

/* outer right black line column */
.grid > div:nth-child(9n) {
  border-right: 1px solid black;
}

/* outer left black line column */
.grid > div:nth-child(9n-8) {
  border-left: 1px solid black;
}

.game--paused .content-inside {
  visibility: hidden;
}

.gameLevel__options {
  text-transform: lowercase;
}

.gameLevel__options::first-letter {
  text-transform: capitalize;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;

  &__small {
    width: 1.5rem;
    height: 1.5rem;
  }
 
  &__smaller {
    width: 1rem;
    height: 1rem;
  }
}

.sudoku {
  &__container {
    margin: 0 auto;
    position: relative;
    width: 100%;
    max-width: $boardSize + ($gutter * 2);
    margin-top: 1rem;
  }

  &__game {
    margin-left: $gutter;
    margin-right: $gutter;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--over {
      @extend %shake;
    }
  
    &__controls {
      display: flex;
      align-items: center;
      margin-top: .3rem;
      
      & > * {
        flex: 1 1 auto;
      }

      &__candidate, &__undo {
        padding-bottom: .2rem;

        &--selected {
          padding-bottom: .1rem;
          border-bottom: solid .1rem black;
        }
      }

      &__option {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    &__board {
      width: 100%;
    }

    &__footer {
      max-width: $boardSize + ($gutter * 2);
      margin: 0 var(--board-padding);
      padding: 0 var(--board-padding);
      width: 100%;
    }
  }

  &__nav {

    &__right, &__left {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: .5rem;
    }

    &__right {
      margin-right: .5rem;
      right:0;
    }
    
    &__left {
      margin-left: .5rem;
      left: 0;
    }
  }

  @media screen and (max-width: $boardSize + ($gutter * 2)) {
    &__container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 1 auto; 
    }
    &__nav {

      &__right, &__left {
        position: relative;
        flex-direction: row;
        margin: 0 auto;
        flex: 1 1 auto;
      }
    }

    &__game {
      margin: 0 auto;
      width: 100%;
    }
  }
}
