:root {
  --color-mode: 'light';
  --color-dark: #141414;
  --color-dark-alpha: rgba(0, 0, 0, 0.1);
  --color-light: #efefef;
  --color-light-alpha: rgba(255, 255, 255, 0.9);

  --background: var(--color-light);
  --text-color: var(--color-dark);

  font-size: 16px;

  --completed: black;
  --ok: rgb(77, 167, 77);
  --mild: rgb(196, 183, 8);
  --medium: rgb(201, 141, 30);
  --warning: rgb(238, 54, 54);
  /*  @TODO: these are replicated in sass,
      need to find a way to use there inside sass and
      remove the duplication
  */
  --boardSize: 32rem;
  --gutter: 3rem;
  --menuItem: 2.5rem;
  --menuItemSmall: 1.5rem;
  --gameControlsPadding: .2rem;
  --backgroundColor: white;
  --cta-primary: hsla(211, 100%, 50%, 0.25);
  --board-padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([theme-color-scheme]) {
    --background: var(--color-dark);
    --text-color: var(--color-light);
  }
}

[theme-color-scheme="dark"] {
  --background: var(--color-dark);
  --text-color: var(--color-light);
}