:root {
  font-size: 16px;

  --completed: black;
  --ok: rgb(77, 167, 77);
  --mild: rgb(196, 183, 8);
  --medium: rgb(201, 141, 30);
  --warning: rgb(238, 54, 54);
  --boardSize: 500px;
  --gutter: 3rem;
  --menuItem: 2.5rem
}

.OK {
  background-color: var(--ok);
}
.MILD {
  background-color: var(--mild);
}
.MEDIUM {
  background-color: var(--medium);
}
.WARNING {
  background-color: var(--warning);
}
