:root {
  font-size: 16px;

  --completed: black;
  --ok: rgb(77, 167, 77);
  --mild: rgb(196, 183, 8);
  --medium: rgb(201, 141, 30);
  --warning: rgb(238, 54, 54);
  /*  @TODO: these are replicated in sass,
      need to find a way to use there inside sass and
      remove the duplication
  */
  --boardSize: 32rem;
  --gutter: 3rem;
  --menuItem: 2.5rem;
  --gameControlsPadding: .2rem;
  --backgroundColor: white;
  --cta-primary: hsla(211, 100%, 50%, 0.25);
  --board-padding: 1rem;
}

.OK {
  background-color: var(--ok);
}
.MILD {
  background-color: var(--mild);
}
.MEDIUM {
  background-color: var(--medium);
}
.WARNING {
  background-color: var(--warning);
}
