.progressBarContainer {
  height: 40px;
  width: 400px;
  border: solid 1px black;
  margin-left: 20px;
  overflow: hidden;
  position: relative;

  .completedPercentage {
    height: 100%;
    width: 10%;
    background-color: orange;
    transform-origin: left center;
  }

  .completedPercentageSpring {
    height: 100%;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
  }
}