.foodLegend {
  display: flex;
  flex-direction: row;

  & dl {
    display: flex;
    margin-bottom: .3rem;
  }

  & dd {
    margin-right: .3rem;
    border: .1px solid rgb(197, 195, 195);
  }
  
  &__colour {
    min-width: 15px;
  }
}
