.foodLegend {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  font-family: "Oswald", sans-serif;
  color: white;
  font-weight: 400;
  &__list {
    width: 100%;
  }

  &__item {
    padding: 0.3rem 0.5rem;
    margin-right: 2px;
    display: flex;
    &__values {
      display: flex;
    }
    &__title {
      flex-grow: 1;
      a {
        color: white;
      }
    }
    &__value {
      cursor: help;
      font-size: 1rem;
      &:first-child {
        padding-right: 0.2rem;
      }
      &:nth-child(2) {
        padding-left: 0.2rem;
      }

      &__percentage {
        font-size: 0.7rem;
      }

      &.dark {
        color: black;
      }
    }
  }

  @media screen and (max-width: 870px) {
    & {
      flex-wrap: wrap;
    }

    &__list {
      width: 33.3%;
    }

    &__item__value {
      width: 32px;
    }
  }

  @media screen and (max-width: 400px) {
    &__list {
      width: 50%;
    }
  }
}
