%pageContainer {
  max-width: 900px;
  margin: 0 auto;
}

html,
body {
  // required by grid for footer to stick
  width: 100%;
  height: 100%;
}

.react-select {
  &__multi-value {
    width: 50%;
    height: 1.5rem;

    &__label {
      flex-grow: 1;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 100% !important;
    }
  }
  &__value-container {
    flex-wrap: nowrap !important;
    padding: 2px 0 2px 8px !important;

    & > div:nth-child(1) {
      border: 1px solid black;
      background-color: white;
    }

    & > .react-select__placeholder, .react-select__input {
      border: none !important;
    }

    & > .css-b8ldur-Input {
      background-color: unset !important;
    }

    & > div:nth-child(2) {
      background-color: black;
      font-weight: bold;

      & > div {
        color: white;
      }
    }
  }
}

.foodCompare {
  &__container {
    @extend %pageContainer;
    // display: grid; 
    height: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "main"
      "footer";

    grid-template-rows: auto 1fr auto;
  }

  &__nav {
    grid-area: nav;
    position: sticky;
    z-index: 1;
    top: 0;
  }

  &__main {
    grid-area: main;
    display: flex;
    flex-direction: column;
  }

  &__footer {
    grid-area: footer;
  }

  &__items {
    display: flex;
    flex-grow: 1;

    li {
      width: 100%;
      height: auto;
      margin: 0.5rem;
    }
  }
}

// %pos {
//   margin: 0 auto;
//   border: solid 10px;
//   margin-top: -10px;
// }

// .transparent-black-square {
//   border-image-slice: 17 0 8 0;
//   border-image-width: 0px 0px 6px 0px;
//   border-image-outset: 0px 0px 0px 0px;
//   border-image-repeat: repeat repeat;
//   border-image-source: url("../assets/patterns/transparent-black-square-row.png");
//   @extend %pos;
// }

// .transparent-white-square {
//   border-image-slice: 17 0 8 0;
//   border-image-width: 0px 0px 6px 0px;
//   border-image-outset: 0px 0px 0px 0px;
//   border-image-repeat: repeat repeat;
//   border-image-source: url("../assets/patterns/transparent-white-square-row.png");
//   @extend %pos;
// }
// .transparent-black-triangle {
//   border-image-slice: 17 0 8 0;
//   border-image-width: 0px 0px 6px 0px;
//   border-image-outset: 0px 0px 0px 0px;
//   border-image-repeat: repeat repeat;
//   border-image-source: url("../assets/patterns/transparent-black-triangle-row.png");
//   @extend %pos;
// }

// .transparent-white-triangle {
//   border-image-slice: 17 0 8 0;
//   border-image-width: 0px 0px 6px 0px;
//   border-image-outset: 0px 0px 0px 0px;
//   border-image-repeat: repeat repeat;
//   border-image-source: url("../assets/patterns/transparent-white-triangle-row.png");
//   @extend %pos;
// }
